<!DOCTYPE html>
{% load static %}              
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>해결의 IE들</title>
    <script src="https://kit.fontawesome.com/48b888f21a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    
    <link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/font-awesome.min.css" type="text/css">

    <link rel="stylesheet" href="{% static 'css/_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static '/css/root2.css' %}">

</head>

<body>
    <!-- {% include 'shared/_navbar.html' %} -->
    <div class="container" style="width: 100vw;">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>