{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'shared/_navbar.html' %}

<style>
*{
    font-family: "AppleSDGothicNeoB";
}
</style>

<div class="search-container">
    {% if not blogs %}

    <div style="text-align: center; font-size:40px; padding-top: 5%;">검색 결과가 없습니다</div>

    {% else %}
    {% if blogs.1 %}
    <div class="build-img">
        <img src="{{ blogs.0.image.url }}">
    </div>
    {% endif %}
    <div class="build-list"> 
        <div class="build-main">
            {{ q }}
        </div>
        <div class="build-main-list" style="height: 10000px;">
            {% for blog in blogs %}

            <div class="build-main-list-box">
                <div class="box-img">
                    <img src="{{blog.mapimg.url}}" alt="사진">
                </div>
                <div class="box-main">
                    <div class="box-end">{{blog.end}}</div>
                    <br>
                    <div class="box-detail">{{blog.summary}}</div>
                </div>
                <a class="box-link" href="{% url 'detail' blog.id %}"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
            {% if blog.id != 1 %}
            <hr id="box-hr" style="width: 80%;">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    {% endif %}
</div>


{% endblock %}